Strange spamming to mentions and only partial message relay from Discord

Strange error on a popular Discord channel... it all looked fine IRC side which is why it too a while to notice. And a restart of the bridge temporarily fixed it.

On the Discord side it started adding multiple mentions of a single specific user to messages coming from IRC side. Also not all messages came through to the IRC side anymore.

Only error I could find in the logs is this:
```
Sep 16 17:02:43 hpthin python3[104082]: 2022-09-16 17:02:43 WARNING  [dibridge.irc_puppet.] Disconnected from IRC
Sep 16 17:02:43 hpthin python3[104082]: 2022-09-16 17:02:43 ERROR    [asyncio] Exception in callback _SelectorSocketTransport._call_connection_lost(None)
Sep 16 17:02:43 hpthin python3[104082]: handle: <Handle _SelectorSocketTransport._call_connection_lost(None)>
Sep 16 17:02:43 hpthin python3[104082]: Traceback (most recent call last):
Sep 16 17:02:43 hpthin python3[104082]:   File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
Sep 16 17:02:43 hpthin python3[104082]:     self._context.run(self._callback, *self._args)
Sep 16 17:02:43 hpthin python3[104082]:   File "/usr/lib/python3.10/asyncio/selector_events.py", line 975, in _call_connection_lost
Sep 16 17:02:43 hpthin python3[104082]:     super()._call_connection_lost(exc)
Sep 16 17:02:43 hpthin python3[104082]:   File "/usr/lib/python3.10/asyncio/selector_events.py", line 733, in _call_connection_lost
Sep 16 17:02:43 hpthin python3[104082]:     self._protocol.connection_lost(exc)
Sep 16 17:02:43 hpthin python3[104082]:   File "/home/dibridge/.local/lib/python3.10/site-packages/irc/client_aio.py", line 82, in connection_lost
Sep 16 17:02:43 hpthin python3[104082]:     self.connection.disconnect()
Sep 16 17:02:43 hpthin python3[104082]:   File "/home/dibridge/.local/lib/python3.10/site-packages/irc/client_aio.py", line 214, in disconnect
Sep 16 17:02:43 hpthin python3[104082]:     self._handle_event(Event("disconnect", self.server, "", [message]))
Sep 16 17:02:43 hpthin python3[104082]:   File "/home/dibridge/.local/lib/python3.10/site-packages/irc/client.py", line 376, in _handle_event
Sep 16 17:02:43 hpthin python3[104082]:     self.reactor._handle_event(self, event)
Sep 16 17:02:43 hpthin python3[104082]:   File "/home/dibridge/.local/lib/python3.10/site-packages/irc/client.py", line 922, in _handle_event
Sep 16 17:02:43 hpthin python3[104082]:     result = handler.callback(connection, event)
Sep 16 17:02:43 hpthin python3[104082]:   File "/home/dibridge/.local/lib/python3.10/site-packages/irc/client.py", line 1159, in _dispatcher
Sep 16 17:02:43 hpthin python3[104082]:     method(connection, event)
Sep 16 17:02:43 hpthin python3[104082]:   File "/opt/dibridge/dibridge/irc_puppet.py", line 87, in on_disconnect
Sep 16 17:02:43 hpthin python3[104082]:     self._pinger_task.cancel()
Sep 16 17:02:43 hpthin python3[104082]: AttributeError: 'NoneType' object has no attribute 'cancel'
```
Which tells me nothing too be honest :(

Any idea?

I improved logging a bit and will try to catch the error again in the next few days.

It sounds like you are mentioning three bugs:

1) On IRC disconnect, the above mentioned traceback happens.
2) Not all messages come through on the IRC side.
3) Multiple mentions of a single user on messages from the IRC side.

The first is a bug I can fix easily. What is interesting about the backtrace that this is with an empty IRC username. So I am curious what the actual Discord username is. Would you happen to know / willing to share?

The second is a bit weird, and I need a bit more detail for it. Just randomly? A bit more context is needed.

The last for sure requires a bit more information, as what do you mean with "multiple mentions of a single specific user". Do you have an example snippet of it?

I am not 100% but the problem might have been triggered by mentioning a user called "ℌ𝔞𝔫𝔫𝔦𝔟𝔞𝔩#1536" Discord side, which obviously uses strange characters. afterwards it started posting messages like this:
![grafik](https://user-images.githubusercontent.com/940360/190722809-21d067ac-85b3-47f6-a8f2-536eb213c09f.png)
But on IRC side it was just `get a fiber home connection and run it on a old gaming PC` not even mentioning this hannibal user.

Ah, okay, so I get what is happening. That username contains no valid character from an IRC perspective, so it tried an empty username. And messages from Discord are being rewritten for highlights, based on this empty username.

I guess if the username is empty I should name it something. That should avoid this problem.

Might have been partially being cause by this regex being too strict: 

https://github.com/OpenTTD/dibridge/blob/main/dibridge/irc.py#L186


Why would that be too strict? RFC says those are the only ones allowed?

Not an expert, but some IRC guy told me "The regex doesn't match RFC 2812 § 2.3.1"

Maybe your IRC guy can tell me how `ℌ𝔞𝔫𝔫𝔦𝔟𝔞𝔩` fits in, and let's quote:

```
nickname   =  ( letter / special ) *8( letter / digit / special / "-" )
letter     =  %x41-5A / %x61-7A       ; A-Z / a-z
digit      =  %x30-39                 ; 0-9
special    =  %x5B-60 / %x7B-7D
                   ; "[", "]", "\", "`", "_", "^", "{", "|", "}"
```

? :D Sorry, sometimes people make weird claims :) The above name uses unicode characters outside of the ASCII, and IRC usernames don't allow that. And sure, the regex doesn't cover all `special` characters, but I see nothing that would have prevented the above name from becoming empty. So no, that had nothing to do with what happened :)

#proof-me-wrong :)

No you are right, hence my "partially caused" qualification further above. But I think full unicode support is being worked on for IRCv3.